@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section.modern-menu {
  font-family: "Holtwood One SC", serif;
  display: flex;
  min-height: 95vh;
  justify-content: center;
  align-items: center;
  background-color: #252839;
}
section.modern-menu ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
section.modern-menu ul li {
  position: relative;
  list-style: none;
}
section.modern-menu ul li a {
  position: relative;
  font-size: 4em;
  line-height: 1em;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
section.modern-menu ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}
section.modern-menu ul li a:hover:before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}
section.hover-particles {
  height: 95vh;
  background-color: #001f25;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
section.hover-particles .loader {
  position: relative;
  width: 300px;
  height: 300px;
}
section.hover-particles .loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(36deg * var(--i)));
}
section.hover-particles .loader span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #00efff;
  box-sizing: border-box;
  box-shadow: 0 0 20px #00efff, -30px -30px 0 #00efff, -30px -30px 20px #00efff,
    30px 30px 0 #00efff, 30px 30px 20px #00efff, 30px -30px 0 #00efff,
    30px -30px 20px #00efff, -30px 30px 0 #00efff, -30px 30px 20px #00efff;
  animation: animate-particles 5s linear infinite;
  animation-delay: calc(-0.25s * var(--i));
  transform-origin: 20px;
  transition: 2s;
}
section.hover-particles:hover .loader span::before {
  box-shadow: 0 0 20px #00efff, -200px -200px 0 #00efff,
    -200px -200px 20px #00efff, 200px 200px 0 #00efff, 200px 200px 20px #00efff,
    200px -200px 0 #00efff, 200px -200px 20px #00efff, -200px 200px 0 #00efff,
    -200px 200px 20px #00efff;
  transform-origin: 250px;
}
@keyframes animate-particles {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
section.parallel-scroll {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  background-color: #131313;
}
section.parallel-scroll .layer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 250vh;
  background-color: #fff;
  box-shadow: inset -10px 0 40px rgba(0, 0, 0, 1),
    inset 10px 0 40px rgba(0, 0, 0, 1),
    inset -10px 0 10px rgba(255, 255, 255, 0.25),
    inset 10px 0 10px rgba(255, 255, 255, 0.25), 0 0 50px rgba(0, 0, 0, 1);
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px -30px;
  }
}
section.parallel-scroll .layer.layer1 {
  background: #222
    radial-gradient(#6dff73 9px, #000 9px, #000 13px, transparent 13px);
  background-size: 30px 30px;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 11;
  animation: animate 2s linear infinite;
}
section.parallel-scroll .layer.layer2 {
  background: #222
    radial-gradient(#db0aff 9px, #000 9px, #000 13px, transparent 13px);
  background-size: 30px 30px;
  transform: translate(-50%, -38%) rotate(45deg);
  z-index: 3;
  animation: animate 2s linear infinite reverse;
}
section.parallel-scroll .layer.layer3 {
  background: #222
    radial-gradient(#03a9f4 9px, #000 9px, #000 13px, transparent 13px);
  background-size: 30px 30px;
  transform: translate(-50%, -62%) rotate(45deg);
  z-index: 3;
  animation: animate 2s linear infinite reverse;
}
section.parallel-scroll .layer.layer4 {
  background: #222
    radial-gradient(#ffc107 9px, #000 9px, #000 13px, transparent 13px);
  background-size: 30px 30px;
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 12;
  animation: animate 2s linear infinite reverse;
}
section.parallel-scroll .layer.layer5 {
  background: #222
    radial-gradient(#e91e63 9px, #000 9px, #000 13px, transparent 13px);
  background-size: 30px 30px;
  transform: translate(-50%, -38%) rotate(-45deg);
  z-index: 10;
  animation: animate 2s linear infinite;
}
section.parallel-scroll .layer.layer6 {
  background: #222
    radial-gradient(#0f0 9px, #000 9px, #000 13px, transparent 13px);
  background-size: 30px 30px;
  transform: translate(-50%, -62%) rotate(-45deg);
  z-index: 10;
  animation: animate 2s linear infinite;
}
section.glass-menu {
  position: relative;
  background-color: rgb(38, 43, 60);
  min-height: 85vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.glass-menu::before {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  background: linear-gradient(#ffc107, #e91e63);
  border-radius: 50%;
  transform: translate(-250px, -120px);
}
section.glass-menu::after {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  background: linear-gradient(#2196f3, #31ff38);
  border-radius: 50%;
  transform: translate(250px, 150px);
}
section.glass-menu .box {
  position: relative;
  min-width: 350px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  z-index: 10;
  padding: 20px;
  backdrop-filter: blur(25px);
}
section.glass-menu .box h3 {
  color: #fff;
  margin-bottom: 20px;
}
section.glass-menu .box .list {
  position: relative;
  display: flex;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
}
section.glass-menu .box .list:hover {
  background: #fff;
  box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
  transform: scale(1.15) translateX(30px) translateY(-15px);
  z-index: 20;
}
section.glass-menu .box .list .imgBx {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
}
section.glass-menu .box .list .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.glass-menu .box .list .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
section.glass-menu .box .list .content .rank {
  position: absolute;
  right: -50px;
  color: #03a9f4;
  transition: 0.5s;
  font-weight: 2em;
  font-size: 2em;
}
section.glass-menu .box .list .content .rank small {
  font-weight: 500;
  opacity: 0.25;
}
section.glass-menu .box .list:hover .content .rank {
  right: 20px;
}
section.glass-menu .box .list .content h4 {
  line-height: 1.2em;
  font-weight: 600;
  transition: 0.5s;
}
section.glass-menu .box .list .content p {
  font-size: 0.7em;
  transition: 0.5s;
}
section.glass-menu .box .list:hover .content h4,
section.glass-menu .box .list:hover .content p {
  color: #333;
}

/* 2nd effect */
section.rotate2022 {
  background-color: rgb(46, 46, 46);
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
section.rotate2022 .container {
  display: flex;
  transform-style: preserve-3d;
  gap: 10px;
  transform: rotateY(30deg) rotateX(10deg);
}
section.rotate2022 .container .text {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: 2.5s ease-in-out;
  transition-delay: calc(0.25s * var(--j));
}
section.rotate2022 .container:hover .text {
  transform: rotateX(-360deg);
}
section.rotate2022 .container:hover .text:last-child {
  transform: rotateX(630deg);
}
section.rotate2022 .container .text::before {
  content: "";
  position: absolute;
  width: 102%;
  height: 102%;
  background-color: rgb(65, 65, 65);
  transform-origin: left;
  transform: rotateY(90deg) translateX(-51px);
}

section.rotate2022 .container .text:last-child::before {
  background-color: #008a05;
}
section.rotate2022 .container .text span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: linear-gradient(rgb(62, 62, 62), rgb(89, 89, 89));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-weight: 700;
  color: white;
  transform-style: preserve-3d;
  transform: rotateX(calc(90deg * var(--i))) translateZ(50px);
}
section.rotate2022 .container .text:last-child span {
  background: linear-gradient(rgb(12, 135, 12), rgb(0, 162, 0));
  color: #333;
}

/* 3rd effect */
section.danger-stripe {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 1rem;
  background-color: rgb(46, 46, 46);
  min-height: 85vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

section.danger-stripe .container .stripe div {
  pointer-events: none;
  position: absolute;
  top: calc(60% - 2.5rem);
  left: 0;
  background: #ffc107;
  min-height: 5rem;
  min-width: 530rem;
  color: rgb(29, 29, 29);
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 0.7rem;
  animation: stripe-moving 4s linear infinite;
  transition: 1.5s;
  transition-delay: 1s;
}
section.danger-stripe .container .stripe:nth-child(2) {
  transform: rotate(45deg) translateY(10rem);
}
section.danger-stripe .container .stripe:nth-child(3) {
  transform: rotate(70deg) translateY(15rem);
}
section.danger-stripe .container .stripe:nth-child(4) {
  transform: rotate(160deg) translateY(-25rem);
}
section.danger-stripe .container .stripe:nth-child(5) {
  transform: rotate(280deg) translateY(10rem) translateX(-40rem);
}
section.danger-stripe .container .stripe:nth-child(6) {
  transform: rotate(210deg) translateY(-22rem) translateX(-40rem);
}
@keyframes stripe-moving {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-73rem);
  }
}
section.danger-stripe:hover .container .stripe div {
  opacity: 0;
  transition-delay: 0s;
  transition: 0.5s;
}
section.danger-stripe .people {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.danger-stripe .people .avatar {
  padding: 0.6rem;
  width: 21vw;
}
section.danger-stripe .people .avatar img {
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
}
section.danger-stripe .people .avatar :hover {
  transform: scale(1.2);
}
section.danger-stripe .people .stripe {
  pointer-events: none;
  position: absolute;
  top: calc(50% - 9rem);
  left: 0;
  background: #ffc107;
  min-height: 18rem;
  min-width: 530rem;
  color: rgb(29, 29, 29);
  font-size: 7rem;
  font-weight: 900;
  letter-spacing: 0.7rem;
  transition: 0.5s;
  animation: stripe-moving 8s linear infinite;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}
section.danger-stripe .people:hover .stripe {
  opacity: 1;
  transition-delay: 1s;
}
section.danger-stripe .people:hover .avatar {
  z-index: 1;
}
