* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section.glass-menu {
  position: relative;
  background-color: rgb(38, 43, 60);
  min-height: 85vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.glass-menu::before {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  background: linear-gradient(#ffc107, #e91e63);
  border-radius: 50%;
  transform: translate(-250px, -120px);
}
section.glass-menu::after {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  background: linear-gradient(#2196f3, #31ff38);
  border-radius: 50%;
  transform: translate(250px, 150px);
}
section.glass-menu .box {
  position: relative;
  min-width: 350px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  z-index: 10;
  padding: 20px;
  backdrop-filter: blur(25px);
}
section.glass-menu .box h3 {
  color: #fff;
  margin-bottom: 20px;
}
section.glass-menu .box .list {
  position: relative;
  display: flex;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
}
section.glass-menu .box .list:hover {
  background: #fff;
  box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
  transform: scale(1.15) translateX(30px) translateY(-15px);
  z-index: 20;
}
section.glass-menu .box .list .imgBx {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
}
section.glass-menu .box .list .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.glass-menu .box .list .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
section.glass-menu .box .list .content .rank {
  position: absolute;
  right: -50px;
  color: #03a9f4;
  transition: 0.5s;
  font-weight: 2em;
  font-size: 2em;
}
section.glass-menu .box .list .content .rank small {
  font-weight: 500;
  opacity: 0.25;
}
section.glass-menu .box .list:hover .content .rank {
  right: 20px;
}
section.glass-menu .box .list .content h4 {
  line-height: 1.2em;
  font-weight: 600;
  transition: 0.5s;
}
section.glass-menu .box .list .content p {
  font-size: 0.7em;
  transition: 0.5s;
}
section.glass-menu .box .list:hover .content h4,
section.glass-menu .box .list:hover .content p {
  color: #333;
}

/* 2nd effect */
section.rotate2022 {
  background-color: rgb(46, 46, 46);
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
section.rotate2022 .container {
  display: flex;
  transform-style: preserve-3d;
  gap: 10px;
  transform: rotateY(30deg) rotateX(10deg);
}
section.rotate2022 .container .text {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: 2.5s ease-in-out;
  transition-delay: calc(0.25s * var(--j));
}
section.rotate2022 .container:hover .text {
  transform: rotateX(-360deg);
}
section.rotate2022 .container:hover .text:last-child {
  transform: rotateX(630deg);
}
section.rotate2022 .container .text::before {
  content: "";
  position: absolute;
  width: 102%;
  height: 102%;
  background-color: rgb(65, 65, 65);
  transform-origin: left;
  transform: rotateY(90deg) translateX(-51px);
}

section.rotate2022 .container .text:last-child::before {
  background-color: #008a05;
}
section.rotate2022 .container .text span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: linear-gradient(rgb(62, 62, 62), rgb(89, 89, 89));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-weight: 700;
  color: white;
  transform-style: preserve-3d;
  transform: rotateX(calc(90deg * var(--i))) translateZ(50px);
}
section.rotate2022 .container .text:last-child span {
  background: linear-gradient(rgb(12, 135, 12), rgb(0, 162, 0));
  color: #333;
}
